  header {
    position:fixed;
    background-color:  #8A2AE3;
    height: 60px;
    width: 100%;
    top: 0;
    & .container1 {
        padding: 0;
        width:100%;
        max-width: 1300px;
        margin-right:auto;
        margin-left:auto;
      } 
  } 
  

  // Баннеры хедер
.header-banner {
  margin-top: 60px;
  background-size: cover;
}
.header-banner-about {
margin-top: 60px;
}
.header-banner-write-nam {
margin-top: 60px;
}


  .add-glory {
     & .form {
          text-align: center;
          width: 620px;
        }
  }

  .container { 
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 1300px;
    padding: 0;
    margin:0 auto;
  }
  .content {
    padding: 10px;
  }
  .card-user-page {
    width: 307px;
    & .social {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content:left;
       }
  }
  
  
  .container-aside { 
    max-width: 307px;
    margin-top: 100px;
    margin-right: 20px;
  }

  .wrapp {
    height: 60px;
    width: 100%;
  }
  input[type="search"]::-webkit-input-placeholder { 
    color: rgb(255, 255, 255); 
    font-size: 14px;
  }
  .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    position: relative;   
}
  .lang-user-icon {
    position: absolute;
    top: 10px;
    right: 245px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
  .search {
    margin:0;
}
  .bnt-act {
    margin: 0;
}
.all-friends {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-user-friend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  width: fit-content;
  margin: 10px;
  .user-foto-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    & .social {
      margin-top: 15px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content:center;
  }
  .user-information {
     display: flex;
     flex-direction: column;
     align-items:flex-start;
     margin-left: 20px;
    .name-mail {
      display: flex;
      flex-direction: row;
      align-items:center;
      a {
          margin-left: 10px;
      }
      h2 {
          font-size: 16px;
      }
  }
}
}
}




.write_nam {
  background-color: white;
  padding: 30px 15px;
  margin: 20px 0;
  & form {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      max-width: max-content;
      & label {
          color: #747474;
          font-family: 'Proxima Nova Rg', sans-serif;
          font-size: 14px; 
          text-align: end;
          display: flex;
          flex-direction: row;
          align-items:baseline;
          justify-content: space-between;
          & input[type=text] {
              
              margin-left: 20px;
              margin-top: 10px;
              width:295px;
              height: 38px;
              background: #FFFFFF;
              border: 1px solid #DFDFDF;
              box-sizing: border-box;
              border-radius: 4px;
          }
          & textarea[type=text] {
              margin-left: 20px;
              margin-top: 10px;
              width:295px;
              background: #FFFFFF;
              border: 1px solid #DFDFDF;
              box-sizing: border-box;
              border-radius: 4px;
          }
      }
      & input[type=submit] {
          margin-left: auto;
          width: 150px;
          height: 38px;
          background:  #8A2AE3;
          box-sizing: border-box;
          border-radius: 30px;
          text-align: center;
          color: #ffffff;
          font-weight: 500;
          font-size: 16px;
          margin-top: 0;
        }
  }
}

.registration {
  width: 655px;
  margin: 0 auto;
  margin-top: 20px;
  & .form {
    width: 295px;
  }
}

.login-registration {
  width: 655px;
  margin: 0 auto;
  margin-top: 20px;

  & h2 {
      margin: 20px 0;
      text-align: center;
  }
  & .or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  & .gor-line{
    display: none;
  }
  & .vertical-line {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px 40px;
    justify-content: space-between;
    
}
& .facebook {
margin-top: -30px;
}
  }
}  


   .all-menu {
    display: block;
}

   .menu-nav {
    display: inline;
    padding: 0;
}


.menu-subscriptions {
  position: fixed;
  width: 307px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn {
  padding: 15px 15px; 
}
.menu-subscriptions .all-menu li:hover {
  background-color: #b9b9b9;
  color: white;
}
.menu:hover {
  background-color: #8A2AE3;
  color: white;
}
.h-menu {
  display: block;
  color:#747474;
  margin-bottom: 15px;
}
.news > span {
  margin-top: -1px;
  width: 100%;
  border-top: 1px solid #DFDFDF;
}
.subscription-line {
  display: none;
}
.subscription-bottom {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.subscription-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E8E8E8;
}
.button-arrow-left:hover,
.button-arrow-right:hover {
  background-color: #6115a8;
}
.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  width: 100%;
}

footer div {
  display: flex;
  flex-direction: row;
}