  header {
    position:fixed;
    background-color:  #8A2AE3;
    height: 60px;
    width: 100%;
    top: 0;
    & .container1 {
        padding: 0;
        width:100%;
        max-width: 1300px;
        margin-right:auto;
        margin-left:auto;
      } 
  } 

  .add-glory {
     & .form {
          text-align: center;
          width: 620px;
        }
  }

  .container { 
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 1300px;
    padding: 0;
    margin:0 auto;
  }
  .card-user-page {
    margin-right: 20px;
    width: 307px;
    & .social {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content:left;
       }
  }
  
  
  .container-aside { 
    max-width: 307px;
    margin-top: 100px;
    margin-right: 20px;
  }

  .wrapp {
    height: 60px;
    width: 100%;
  }
  input[type="search"]::-webkit-input-placeholder { 
    color: rgb(255, 255, 255); 
    font-size: 14px;
  }
  .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    position: relative;   
}
  .lang-user-icon {
    position: absolute;
    top: 10px;
    right: 245px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
  .search {
    margin:0;
}
  .bnt-act {
    margin: 0;
}

.header-banner {
    margin-top: 60px;
    background-size: cover;
}


   .all-menu {
    display: block;
}

   .menu-nav {
    display: inline;
    padding: 0;
}


.menu-subscriptions {
  position: fixed;
  width: 307px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn {
  padding: 15px 15px; 
}
.menu-subscriptions .all-menu li:hover {
  background-color: #b9b9b9;
  color: white;
}
.menu:hover {
  background-color: #8A2AE3;
  color: white;
}
.h-menu {
  display: block;
  color:#747474;
  margin-bottom: 15px;
}
.news > span {
  margin-top: -1px;
  width: 100%;
  border-top: 1px solid #DFDFDF;
}
.subscription-line {
  display: none;
}
.subscription-bottom {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.subscription-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E8E8E8;
}
.button-arrow-left:hover,
.button-arrow-right:hover {
  background-color: #6115a8;
}
.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  width: 100%;
}

footer div {
  display: flex;
  flex-direction: row;
}