@import "variables";
@import "fonts";
@import "header";

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    margin:0;
    overflow-x:hidden;
    font-family: 'Proxima Nova Rg', sans-serif;
    height: 100%;
}
*   {
    box-sizing: border-box;
}
.header-banner {
  width: 100%;
  height: 200px;
  background-image: url(../img/header-banner.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}
.header-banner-about {
    width: 100%;
    height: 200px;
    background-image: url(../img/banner_o_nas.jpg);
    background-repeat: no-repeat;
    background-position:top;  
}
.header-banner-write-nam {
    width: 100%;
    height: 200px;
    background-image: url(../img/banner_write.jpg);
    background-repeat: no-repeat;
    background-position:top; 
}
.write_nam {
    background-color: white;
    padding: 30px 15px;
    margin: 20px 0;
    & form {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        & label {
            color: #747474;
            font-family: 'Proxima Nova Rg', sans-serif;
            font-size: 14px; 
            margin: 10px 0;
            & input[type=text] {
                margin: 10px 0;
                width:100%;
                height: 38px;
                background: #FFFFFF;
                border: 1px solid #DFDFDF;
                box-sizing: border-box;
                border-radius: 4px;
            }
            & textarea[type=text] {
                margin: 10px 0;
                width:100%;
                background: #FFFFFF;
                border: 1px solid #DFDFDF;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }
        & input[type=submit] {
            width: 150px;
            height: 38px;
            background:  #8A2AE3;
            box-sizing: border-box;
            border-radius: 30px;
            text-align: center;
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
            margin-top: 20px;
          }
    }
}
    
.container-aside { 
    width:100%;
    max-width: 768px;
    margin: 0 auto;
      
}
button {
    margin: 0;
    border: none;
}
.body-all-height {
    flex: 1 0 auto;
}
.container {
    padding: 0 15px ;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.subscription-none {
    display: none;
}
  
.card-user-page {
  height: fit-content;
  margin-top: -120px;
  padding: 15px;
  background-color:  white;
  & .user-information {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & h2 {
      font-size: 20px;
      margin: 5px 0;
    }
    & a {
      color: #747474;
      font-size: 12px;
    }
    & h4 {
      color: #747474;
      font-size: 14px;
      margin: 5px 0;
      font-weight: normal;
    }
    & .img {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  & .unsubscribe{
    background-color: #F26065; 
    border-radius: 30px;
    width: 100%;
    height: 38px;
    margin: 20px 0;
    color: white;
    font-weight: 600;
    font-size: 15px; 
  }
  & .status {
    width: 100%;
    & tr {
      font-size: 14px;
    }
    & th {
    text-align: right;
    padding: 5px 0;
  }
}
& .social {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content:center;
    & span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      width: 38px;
      height: 38px;
      background-color: black;
      border-radius: 45px;
      margin-right: 15px;
    }
}

}
.add-glory {
  margin: 20px 0;
  & h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  & .form {
      margin: 0 auto;
      width: 100%;
      
      & select {
        width: 100%;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 4px;
        padding:0 10px;
        color: #747474;
        margin-bottom: 20px;
        font-family: 'Proxima Nova Rg', sans-serif;
        font-size: 12px;
      }
      & input {
        width: 100%;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 4px;
        padding:0 10px;
        color: #747474;
        margin-bottom: 20px;
        font-family: 'Proxima Nova Rg', sans-serif;
        font-size: 12px;
      }
      & textarea {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 4px;
        padding:10px 10px;
        color: #747474;
        margin-bottom: 20px;
        font-family: 'Proxima Nova Rg', sans-serif;
        font-size: 12px;
      }
      & input[type=submit] {
        width: 150px;
        height: 38px;
        background:  #8A2AE3;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
      }
  }
}

  /* PROGRESS */
  
  .progress {
    background-color: #e5e9eb;
    block-size: 0.2em;
    position: relative;
    margin: -40px 10px 20px;
  }
  
  .progress__bar {
    animation-duration: 3s;
    animation-name: width;
    background-color:  #8A2AE3;
    background-size: 10% 0.1em;
    block-size: 100%;
    position: relative;
  }
  
  .progress__shadow {
    block-size: 2em;
    inline-size: 10%;
    position: absolute;
    top: 100%;
    transform: skew(45deg);
    transform-origin: 0 0;
  }

   
.content {
  height: 100%;
  width: 100%;
  max-width: 1300px;
  padding: 0;
  
} 
.about {
    background-color:  white;
    padding: 30px 15px;
    font-size: 14px;
    line-height: 26px;
    margin: 20px 0;
    & h2 {
        font-size: 26px; 
    }
}
  
.all-menu-none {
    display: none;
}
.menu-added {
    background-color: #8A2AE3;
    color: white;
    cursor: pointer;
    width: 100%;
    min-height: 47px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 15px;
    border-left: 2px solid #8A2AE3;
    border-bottom: 1px solid #DFDFDF; 
    border-top: 1px solid #DFDFDF; 
    border-right: 1px solid #DFDFDF; 
}
  
  
  
  
.menu-subscriptions {
    margin-top: 10px;
}
.btn {
    cursor: pointer;
    width: 100%;
    min-height: 47px;
    background-color: white;
    text-align: left;
    color: #8A2AE3;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 15px;
    border-left: 2px solid #8A2AE3;
    border-bottom: 1px solid #DFDFDF; 
    border-top: 1px solid #DFDFDF; 
    border-right: 1px solid #DFDFDF;  
  
}
.h-menu {
    display: none;
    color: #7c7c7c;
}
.menu-nav {
    display: inline;
    padding: 0;
}
  
.menu > span {
    float:right;
    display: block;
    width: 15px;
    height: 10px;
    background-image: url(../img/icons/Expand_More.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 5px;
}
.subscriptions {
    background-color: #8A2AE3;
    border: none; 
}
.sub {
    color: white;
    text-decoration: none;
}
  
.menu-subscriptions .all-menu li {
    list-style: none;
    padding: 15px 15px;
    background-color: white;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF; 
    border-right: 1px solid #DFDFDF;  
}
.theme {
    font-size: 16px;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.most-most {
    display: flex;
    flex-direction: row;
    justify-content: center;
}  
.switch-new,
.switch-popular {
    border-bottom: 2px solid #7c7c7c; 
    color:  #747474;
    padding: 15px 15px;
    font-weight: 400;
    font-size: 16px;
}
.switch-active {
    border-bottom: 3px solid  #7c7c7c; 
    color:  #747474;
    font-weight: 500;
}
.subscription {
    background-color: white;
    margin: 30px 0;
    font-size: 16px;
}
.subscription-top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-start;
    background-color: #E8E8E8;
    padding: 15px 15px;
}
.foto-user {
    margin-right: 15px;
}
h2 {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    margin: 0;
}
.user-information p {
    margin-block-end: 0;
    margin-block-start: 5px;
    font-size: 12px;
}
.user h2 {
    margin-right: 5px;
}
.user-information a {
    color: #747474;
    font-weight: normal;
    font-size: 12px;
}
.location {
    color: #747474;
}
.subscription-line {
    position: relative;
    margin: 0 15px;
}
.subscription-line > span {
    position: absolute;
    width: 100%;
    border-top: 1px solid  #d6d6d6;
}
.subscription-bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 15px 15px;
    background-color: #E8E8E8;
}
.subscription .subscription-bottom a:first-of-type {
    text-decoration: underline;
    color: #747474;
    font-size:  12px;
}
time {
    font-size: 14px;
}
.text-subscription {
    padding: 15px 15px;
}
h2 {
    font-size: 18px;
    line-height: 26px;
}
.text-subscription p {
    font-size: 14px;
    line-height: 26px;
}
.foto-subscription {
    margin: 15px 15px;
}
.subscription-footer {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: #E8E8E8;
    padding: 12px 15px;
}
.like button {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
}
.like button:hover {
    opacity: 1;
}
.like button:focus {
    outline:0;
}
.likes-icon {
    width: 18px;
    height: 16px;
    background: url(../img/icons/Shape.svg) no-repeat 50% 50%;
    background-size: contain;
    margin-right: 5px;
}
.added {
    background-image: url(../img/icons/heart.png);
}
.likes {
    font-weight: 600;
    font-size: 16px;
    color: #747474;
    margin-left: 20px;
}
.social {
    display:  flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}
.fb {
    width: 9px;
    height: 19px;
    background: url(../img/icons/facebookFontAwesome.png) no-repeat 50% 50%;
    background-size: contain;
    margin-right: 10px;
}
.tw {
    width: 17px;
    height: 15px;
    background: url(../img/icons/twitterFontAwesome.png) no-repeat 50% 50%;
    background-size: contain;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.all-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61px;
    background-color: white;
    border: 1px solid  #d6d6d6;
}
.all-pages li {
    list-style: none;
    float: left;
    color: #747474;
    margin: 0 10px;
}
.all-pages ul {
    padding-inline-start: 0;
}
.all-pages a {
    color: #747474;
    font-weight: 600;
    font-size: 14px;
}
.button-arrow-left {
    min-width: 60px;
    height: 60px;
    background: #8A2AE3 url(../img/icons/Shap.png) no-repeat 36px 20px;
    background-position: 50% 50%;
}
.button-arrow-right {
    min-width: 60px;
    height: 60px;
    background: #8A2AE3 url(../img/icons/Shap1.png) no-repeat 36px 20px;
    background-position: 50% 50%;
    margin-right: 0;
}
  
    
  
  
  
@import "footer"; 
  
@media (min-width: 981px) {
  
@import "desctope"; 
  
}